<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title> My_Movies - Add Movie</title>
    </head>
    <body>
        <h1>Add the Movie</h1>
        <form method="post" action="/movies/create">
            <table>
                <tr>
                    <td><label for="title"> Title </label></td>
                    <input type="text" name="title"></td>
                </tr>
                <tr>
                    <label for="director"> Director</label></td>
                <input type ="text" name="director"></td>
                </tr>
                <tr>
                    <label for="year">Year </label></td>
                <input type= "text" name="year"></td>
                </tr>
                <tr>
                    <input type="submit"></td>
                </tr>
        </form>
        <tr>
            < a href="/movies"> Back to Movies </a></td>
        </tr>
    </body>
</html>
